{% extends 'AppCoder/padre.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block contenido %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">

            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">
                        Te has deslogueado...
                    </h4>
                    
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
